@media (min-width: 1200px) {
	footer {
		height: 30vh;
	}

	.footer-items {
		height: 100%;
		align-items: center;
	}

	.carousel-item > img{
		max-height: calc(100vh - 56px);
		object-fit: cover;
	}

	.form-container {
		min-height: calc(100vh - 56px);
		width: 40%;
	}

	.form-page {
		transform: translate(0, -100px);
	}
}

.card-img-top {
	min-width: 286px;
	min-height: 286px;
	object-fit: cover;
}